*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.product{
  padding: 30px;
}
.product-item{
  padding: 10px;


}
.card_image {
  cursor: pointer;
}

img.selected {
  border: 10px solid #555;
}
/* 
button.right {
  float: left;
} */